.idea/
day7/__pycache__/art.cpython-39.pyc                                                                                                                              create mode 100644 day7/__pycache__/words.cpython-39.pyc    
