.idea/
day7/__pycache__/art.cpython-39.pyc
day7/__pycache__/words.cpython-39.pyc
day8/__pycache__/art.cpython-39.pyc
day9/__pycache__/
day10/__pycache__/
day11/__pycache__/
day12/__pycache__/
day14/__pycache__/
day15/__pycache__/
day16/__pycache__/
day17/__pycache__/
day20/__pycache__/ 
day22/__pycache__/
